body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li{
  list-style: none;
}
.body-rou{
  max-width: 1260px !important;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.styles-logo{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
}


.img-icon{
  width: 20px !important;
  height: 20px !important;
}
.input-wrapper {
  position: relative;
}
.input-icon {
  color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.max-nav{
  max-width: 1260px !important;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;